<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <!--Sidebar content-->

            <p>
                Search:
                <input ng-model="$ctrl.query">
            </p>

            <p>
                Sort by:
                <select ng-model="$ctrl.orderProp">
                    <option value="id">By id</option>
                    <option value="lastname">Alphabetical</option>
                    <option value="salary">By salary</option>
                </select>
            </p>

        </div>
        <div class="col-md-10">
            <!--Body content-->

            <table class="emp-table">
                <tr>
                    <th>Emp ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Salary</th>
                </tr>

                <tr class="emp-row" ng-repeat = "e in $ctrl.employees | filter:$ctrl.query | orderBy:$ctrl.orderProp">
                    <td>{{ e.id }}</td>
                    <td>{{ e.name }}</td>
                    <td>{{ e.lastname }}</td>
                    <td>{{ e.salary }}</td>
                    <td>
                        <a class="button_table" href="#!/employees/view/{{e.id}}">View</a>

                    </td>
                </tr>
            </table>
            <a class="button" href="#!/employees/add/">Add employee</a>
        </div>
    </div>
</div>
